node_modules
__pycache__
.ipynb_checkpoints/
*.log
.DS_Store
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
.terraform.lock**
commands.txt
.vscode/
hosts_ip.txt
multipass/haproxy_*.cfg
multipass/cloud-init-*.yaml
windows/haproxy_*.cfg
windows/cloud-init-*.yaml
macos/haproxy_*.cfg
macos/cloud-init-*.yaml
virtual-box/haproxy_*.cfg
virtual-box/cloud-init-*.yaml
virtual-box/.vagrant/
virtual-box/.join-command
virtual-box/.terraform/
virtual-box/.terraform.lock.hcl
virtual-box/.terraform.tfstate.lock.info
virtual-box/terraform.tfstate
virtual-box/terraform.tfstate.backup
virtual-box/NUL
