node_modules
__pycache__
.ipynb_checkpoints/
*.log
.DS_Store
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
.terraform.lock**
commands.txt
.vscode/
hosts_ip.txt
multipass/haproxy_*.cfg
multipass/cloud-init-*.yaml
windows/haproxy_*.cfg
windows/cloud-init-*.yaml
windows/.terraform/
windows/.terraform.lock.hcl
windows/.terraform.tfstate.lock.info
windows/terraform.tfstate
windows/terraform.tfstate.backup
macos/haproxy_*.cfg
macos/cloud-init-*.yaml
virtual-box/.vagrant/
virtual-box/.join-command
virtual-box/NUL
virtual-box/infra/cloud-init-*.yaml
virtual-box/infra/haproxy_*.cfg
virtual-box/infra/.terraform/
virtual-box/infra/.terraform.lock.hcl
virtual-box/infra/.terraform.tfstate.lock.info
virtual-box/infra/terraform.tfstate
virtual-box/infra/terraform.tfstate.backup
virtual-box/apps/haproxy_*.cfg
virtual-box/apps/.terraform/
virtual-box/apps/.terraform.lock.hcl
virtual-box/apps/.terraform.tfstate.lock.info
virtual-box/apps/terraform.tfstate
virtual-box/apps/terraform.tfstate.backup
